<!--<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th sortable-column="homeTeam">Home Team</th>
            <th sortable-column="vegasLine">Vegas Line</th>
            <th sortable-column="roadTeam">Road Team</th>
            <th sortable-column="over.under">O/U</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stats of over">
            <td>{{ stats.homeTeam }}</td>
            <td>{{ stats.vegasLine }}</td>
            <td>{{ stats.roadTeam }}</td>
            <td>{{ stats.over.under }}</td>
        </tr>

    </tbody>
</table>-->

<ag-grid-angular #agGrid style="width: 100%; height: 350px;" class="ag-fresh" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData" enableColResize enableSorting enableFilter rowHeight="22" rowSelection="multiple" (modelUpdated)="onModelUpdated()"
    (cellClicked)="onCellClicked($event)" (cellDoubleClicked)="onCellDoubleClicked($event)">

</ag-grid-angular>