.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    max-width: 700px;
}

tr:nth-child(odd) {
    background-color: #1DACE8;
    color: #eee;
}

tr:nth-child(even) {
    background-color: #eee;
    color: #1C366B;
}

tr:hover {
    background-color: #F24D29;
    color: #fff;
}

thead tr {
    background-color: #E5C4A1;
    color: #1C366B;
    font-weight: bold;
}


/* Wes Anderson Color Palette - The Life Aquatic
#1DACE8 - Light Blue
#1C366B - Dark Blue
#F24D29 - Tomato (red/orange)
#E5C4A1 - Beige
#C4CFD0 - Silver
*/