.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    color: #333;
}

.mat-row:nth-child(odd) {
    background-color: #1DACE8;
    color: #1C366B;
}

.mat-row:nth-child(even) {
    background-color: #eee;
    color: #1C366B;
}

.mat-row:hover {
    background-color: #1C366B;
    color: #fff;
}

.mat-header-row {
    background-color: #C4CFD0;
    color: #1C366B;
    font-weight: bold;
}


/* Wes Anderson Color Palette - The Life Aquatic
#1DACE8 - Light Blue
#1C366B - Dark Blue
#F24D29 - Tomato (red/orange)
#E5C4A1 - Beige
#C4CFD0 - Silver
*/