table {
    overflow: auto;
}

tr:nth-child(odd) {
    background-color: #fff;
    color: #1C366B;
}

tr:nth-child(even) {
    background-color: #1DACE8;
    color: #fff;
}

tr:hover {
    background-color: #F24D29;
    color: #fff;
}

thead tr {
    background-color: #C4CFD0;
    color: #1C366B;
    font-weight: bold;
}

th,
td {
    text-align: center;
    width: 20%;
}


/* Wes Anderson Color Palette - The Life Aquatic
#1DACE8 - Light Blue
#1C366B - Dark Blue
#F24D29 - Tomato (red/orange)
#E5C4A1 - Beige
#C4CFD0 - Silver
*/