.navbar {
    background-color: #1C366B;
    border-bottom: 2px solid #F24D29;
    box-shadow: 0px 5px 5px #E5C4A1;
}

.navbar a {
    color: #fff;
    font-weight: bold;
    letter-spacing: .2em
}

.navbar a:hover {
    background-color: #E5C4A1;
    color: #1C366B;
}