.navbar {
    background-color: #1C366B;
    box-shadow: 0px 5px 5px #999;
}

.navbar a {
    color: #C4CFD0;
    font-weight: bold;
    letter-spacing: .2em
}

.navbar a:hover {
    background-color: #C4CFD0;
    color: #1C366B;
}