/* You can add global styles to this file, and also import other style files */

body {
    background-color: #eee;
}

input[type=checkbox] {
    display: none;
}

.mat-checkbox-inner-container {
    background-color: #C0C0C0;
    color: #1C366B;
    margin: 4px 0 0 0;
    height: 16px;
    width: 16px;
}


/*.mat-checkbox-inner-container-no-side-margin {
    background-color: red;
}*/