/* You can add global styles to this file, and also import other style files */

body {
    background-color: #eee;
}

input[type=checkbox] {
    display: none;
}

.mat-checkbox-inner-container {
    background-color: #fff;
    color: #1C366B;
}